<div class="container">
    <h2 color="primary">Agregar nuevo</h2>
    <form [formGroup]="formGroup" (submit)="guardar()">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>

        <br />
        <mat-form-field appearance="outline">
            <mat-label>Presupuesto</mat-label>
            <input matInput type="number" formControlName="presupuesto">
        </mat-form-field>

        <br />
        <mat-form-field appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoriaId">
                @for (item of categorias; track $index) {
                <mat-option value="{{item.id}}">{{item.nombre}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <br />
        <mat-checkbox formControlName="esPrimario">
            ¿Es primario?
        </mat-checkbox>
        <br />
        @if(estaCargando){
        <button mat-fab extended color="primary" type="submit" [disabled]="estaCargando">
            <mat-spinner [diameter]="20"></mat-spinner>
        </button>
        Un momento ...
        }@else {
        <button mat-fab extended color="primary" type="submit">
            <mat-icon>save</mat-icon> Guardar
        </button>
        }
    </form>
</div>