<div class="container">    
    <mat-card>
        <mat-card-header>
            {{ahorroDto?.nombre}}
        </mat-card-header>
        <mat-card-content>
            {{ahorroDto?.balance | currency}}
            <br/>
            Tipo de ahorro: {{ahorroDto?.tipoDeAhorro?.nombre}}
            <!-- {{ahorroDto?.fechaInicial}}
            {{ahorroDto?.fechaFinal}} -->
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/','ahorros', ahorroDto?.id, 'depositar']">Depositar</a>
            <a mat-button [routerLink]="['/','ahorros', ahorroDto?.id, 'retirar']">Retirar</a>
            <a [routerLink]="['/','ahorros']">Ahorros</a>
          </mat-card-actions>
    </mat-card>
    <br/>

    <table mat-table [dataSource]="movimientos">
        <ng-container matColumnDef="saldoInicial">
            <th mat-header-cell *matHeaderCellDef>Inicial</th>
            <td mat-cell *matCellDef="let element">{{element.saldoInicial | currency}}</td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let element">{{element.cantidad | currency }}</td>
        </ng-container>
        
        <ng-container matColumnDef="saldoFinal">
            <th mat-header-cell *matHeaderCellDef>Final</th>
            <td mat-cell *matCellDef="let element">{{element.saldoFinal | currency}}</td>
        </ng-container>

        <ng-container matColumnDef="concepto">
            <th mat-header-cell *matHeaderCellDef>Concepto</th>
            <td mat-cell *matCellDef="let element">{{element.concepto}}</td>
        </ng-container>

        <ng-container matColumnDef="fechaDeRegistro">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element">{{element.fechaDeRegistro | date}}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>

    @if (estaCargando) {
        <div style="align-items: center;">
            <p>
                <mat-spinner  style=" top: 50%; left: 50%; transform: translate(-50%, -50%); margin-top: 50%;"/>
            </p>
        </div>
    }
</div>