<h1 mat-dialog-title mat-text-primary>{{ahorroDto.nombre}}</h1>
<form [formGroup]="formGroup" (submit)="guardar()">
  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        Saldo inicial: {{ ahorroDto.balance | currency }}
      </mat-card-content>
    </mat-card>

    <br />
    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input
        matInput
        formControlName="cantidad"
        class="example-right-align"
        type="number"
        min="1"
        step="1"
        (change)="previsualizarTotal()"
        (keypress)="previsualizarTotal()"
        (keyup)="previsualizarTotal()"
        placeholder="0"
      />
      <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-card>
      <mat-card-content>
      Saldo final  {{ subtotal | currency }}
      </mat-card-content>
    </mat-card>

    <br />
    <mat-form-field appearance="outline">
      <mat-label>Concepto</mat-label>
      <input matInput formControlName="concepto" placeholder="pa los tacos" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <br />
    @if(estaCargando){
    <button
      mat-fab
      extended
      color="primary"
      type="submit"
      [disabled]="estaCargando"
    >
      Un momento ...
      <mat-spinner [diameter]="20"></mat-spinner>
    </button>
    Un momento ... }@else {
    <button mat-fab extended color="primary" type="submit">
      <mat-icon>save</mat-icon> Guardar
    </button>
    }
  </mat-dialog-actions>
</form>
