<div class="container">

    <h1>Detalle de la version</h1>
    <p>{{total | currency}}</p>
    <a [routerLink]="['/','versiones', id,'presupuestos','agregar']">Agregar presupuesto</a>

    @if(estaCargando){
    <div class="text-aling-center">
        <mat-spinner></mat-spinner>
    </div>
    }
    <br/>
    <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let element">{{element.cantidad | currency}}
        </ng-container>

        <ng-container matColumnDef="subcategoria">
            <th mat-header-cell *matHeaderCellDef>Subcategoria</th>
            <td mat-cell *matCellDef="let element">
                {{element.subcategoria.nombre}}
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <a mat-mini-fab [routerLink]="['/','versiones',id,'presupuestos',element.id,'editar']">
                    <mat-icon>edit_note</mat-icon>
                </a>
                <!-- <a mat-mini-fab href="/versiones/{{element.id}}/detalles">
                    <mat-icon>notes</mat-icon>
                </a> -->
                <button mat-mini-fab style="color: red;" (click)="borrar(element)">
                    <mat-icon>delete</mat-icon>
                </button>
                @if(element.ahorroId != null){
                <a mat-mini-fab [routerLink]="['/','ahorros',element.ahorroId,'detalles']">
                    <mat-icon>savings</mat-icon>
                </a>
                }
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef=" let row; columns: columnas;"></tr>
    </table>
    <br/>
    <p>{{total | currency}}</p>
</div>